<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container text-center py-5">
    <h1 class="display-1">404</h1>
    <p class="lead">Page not found</p>
    <a href="/" class="btn btn-wish btn-lg">Go Home</a>
  </div>
</body>
</html>


<!--         <img
          src="https://ci3.googleusercontent.com/meips/ADKq_NZa00tQPIx4fdFGtuHSHzYQ-whZFD7HWD3OhXR05fT4XqJ_Wca2erL9R9_382bPBUom-sDOVfi4G3FXbYaZsHsGqQUAL6-JIKgEzWlarZbeNSLveyc6EKOURFQhphfzG2ZAwLiyrJsC=s0-d-e1-ft#https://www.gstatic.com/images/branding/googlelogo/2x/googlelogo_color_74x24dp.png"
          width="94" height="24" aria-hidden="true" style="margin-bottom:16px" alt="Google" class="CToWUd"
          data-bit="iit">
        <img height="33"
          src="https://ci3.googleusercontent.com/meips/ADKq_NYawAT8gPGDp3agpnzAMkfr3BufuBY7MSDtVhRb7vicozJEGtnlC6zCVDToa5nhzzHlQPME9G_F3INLrr5FC4IsHbBAd9LFuyE80iu3SMRV31astde52pStghhv4WSKKg=s0-d-e1-ft#https://www.gstatic.com/images/icons/material/system/2x/error_red_36dp.png"
          class="CToWUd" data-bit="iit" style="display: block; margin: 0 auto;"> -->